main {
    padding: 20px; /* Ajusta el relleno según sea necesario */
  }
  
  main article {
    margin-bottom: 40px; /* Ajusta el margen inferior del artículo según sea necesario */
  }
  
  /* Estilos adicionales para tu sección de cartera */
  .portfolio {
    background-color: #f9f9f9; /* Cambia el color de fondo según sea necesario */
  }
  
  .portfolio .section-title {
    color: #333; /* Cambia el color del título según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen inferior del título según sea necesario */
  }
  
  .portfolio-list {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno de la lista */
  }
  
  .portfolio-card {
    border: 1px solid #ddd; /* Agrega un borde alrededor de las tarjetas */
    border-radius: 5px; /* Agrega bordes redondeados a las tarjetas */
    overflow: hidden; /* Evita que las imágenes se desborden */
    margin-bottom: 20px; /* Ajusta el margen inferior de las tarjetas según sea necesario */
  }
  
  .portfolio-card .card-banner {
    position: relative; /* Establece la posición relativa para el contenedor de la imagen */
  }
  
  .portfolio-card .card-banner img {
    width: 30%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
  }
  
  .portfolio-card .card-content {
    padding: 20px; /* Agrega relleno al contenido de la tarjeta */
  }
  
  .portfolio-card .chip {
    background-color: #007bff; /* Cambia el color de fondo del chip según sea necesario */
    color: #fff; /* Cambia el color del texto del chip según sea necesario */
    margin-bottom: 10px; /* Ajusta el margen inferior del chip según sea necesario */
    display: inline-block; /* Hace que el chip se muestre en línea */
    padding: 5px 10px; /* Ajusta el relleno del chip según sea necesario */
    border-radius: 3px; /* Agrega bordes redondeados al chip */
  }
  
  .portfolio-card .title-md {
    color: #333; /* Cambia el color del título según sea necesario */
    margin-top: 0; /* Elimina el margen superior del título */
    margin-bottom: 10px; /* Ajusta el margen inferior del título según sea necesario */
  }
  
  .portfolio-card .card-text {
    color: #666; /* Cambia el color del texto según sea necesario */
    margin-bottom: 15px; /* Ajusta el margen inferior del texto según sea necesario */
  }
  
  .portfolio-card .btn {
    background-color: #007bff; /* Cambia el color de fondo del botón según sea necesario */
    color: #fff; /* Cambia el color del texto del botón según sea necesario */
    text-decoration: none; /* Elimina la subrayado del botón */
    padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    display: inline-block; /* Hace que el botón se muestre en línea */
  }
  
  .portfolio-card .btn:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el mouse */
  }